a {
    color: black
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar {
    height: auto;
    width: auto; 
    display: flex;
    justify-content:space-between;
    position: sticky;
    padding: 15px 20px 20px 20px;
    overflow: hidden;
    align-items: stretch;
    position: relative;
    background-color: white;
    overflow-x: hidden;
}

svg {
    height: 5vh;
}

#feature-section {
    display: flex;
    align-items: center;
    margin: 20px 10px 20px 10px;
}

#feature-cover {
    height: 30vh;
}

#feature-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30vh;
}

#feature-heading {
    margin: 10px;
}

#feature-para {
    text-align: justify;
    margin: 10px;
}